body {
	background: url("../images/background_theme_1.jpg");
	font-size: 20px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: yellow;
	text-align: center;
}

.container {
	background-color: black;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
}

h1 {

	background-color: black;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
}