body {
	background-image: url("../images/background_theme_4.jpg");
	background-color: #cccccc;
	font-size: 20px;
	line-height: 34px;
	font-family: 'Bungee Inline', cursive;
	color: purple;

}

/*.container */

.col-md-12{
	background-color: black;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
	text-align: center;

}

.col-md-6{
	background-color: black;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
	text-align: center;

}

.col-md-3{
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
	text-align: center;

}


.container-fluid-left {
	display: inline block;


}


h1{
	display: inline block;
	background-color: black;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
}

h2 {

	background-color: black;
	width: 100%;
	max-width: 660px;
	margin: 0 auto;
	clear: both;
}

.background_image_1,
.background_image_2,
.background_image_3,
.background_image_4,
.background_image_5,
.background_image_6

{
	width:600px;
	height: 250px;
	margin : auto;
	border: solid 1px;
	
}